@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl font-bold text-center;
}

:root {
    font-size: 16px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --accent: hsl(216, 94%, 19%);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
